<link rel='stylesheet' href='/stylesheets/nav.css' />
<nav>
    <div class="menu-icon">
        <span class="fa fa-bars"></span>
    </div>
    <div class="logo">MM</div>
    <div class="nav-items">
        <li aria-label="Go to home page"><a href="#">Home</a></li>
        <li aria-label="Go to about page"><a href="#">About</a></li>
        <li aria-label="Go to sign up page"><a href="#">Sign Up</a></li>
        <li aria-label="Go to sign in page"><a href="#">Sign In</a></li>
        <li aria-label="Go to catalog page"><a href="#">Catalog</a></li>
        <li aria-label="Go to wish list page"><a href="#">Wish List</a></li>
    </div>
    <div class="search-icon"><span class="fa fa-search"></span></div>
    <div class="cancel-icon"><span class="fa fa-times"></span></div>
    <form class="search-form" action="#">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fa fa-search"></button>
    </form>
</nav>

<script src="./javascripts/nav.js"></script>